<settings>
  <category label="PLAYERS">
  <setting label="[B][COLOR blue]ABAIXO ESCOLHA SEU GERENCIADOR DE TORRENT:[/B][/COLOR]" type="lsep" /> 
   <setting type="sep" />
    <setting id="genesisorpulsar" type="enum" values="Quasar|Pulsar" label="QUASAR OU PULSAR:" default="Quasar"/>
    <setting id="donotshowbychannels" default="false"/>
   
  </category>
  
</settings>